<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Lieu:Booking</title>
    <style>
        html, body {
            background-color: whitesmoke;
        }

        header {
            position: relative;
        }

        .shopping-mall {
            position: absolute;
            bottom: 20px;
            font-variant: small-caps;
        }

        .shopping-mall > h1 {
            font-family: Impact;
            font-size: 50px;
            color: #04f5d8;
            letter-spacing: 0.3px;
            text-shadow: 0 0 2px black;
            padding-bottom: 0px;
            border-bottom: 1px dotted gray;
            margin: 0px;
        }

        .shopping-mall > h5 {
            margin-top: 5px;
            letter-spacing: 0.5px;
        }

        .poly-cart {
            margin-top: 5px;
        }

        .poly-cart ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            font-variant: small-caps;
        }

        .poly-cart .panel-heading strong {
            font-variant: small-caps;
            font-size: larger;
            text-shadow: 0 0 2px darkgray;
        }

        .poly-prod {
            text-align: center;
            padding: 5px;
        }

        .poly-prod .panel-body img {
            height: 150px;
            max-width: 95%;
        }

        #form-Search {
            margin-top: 10px;
        }

        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

        .affix + .container-fluid {
            padding-top: 70px;
        }
        .progress{
            background-color: #d6c3c3;
        }
        .progress-bar{
            background-color: #52f30b;
        }
    </style>
</head>
<body>
<div class="container" style="height: auto">
    <header class="row">
        <div class="shopping-mall">
            <h1>Booking-Hotel : LIEU</h1>
            <h5 style="color: #f60707">Thiên Đường Của Những Chuyến Đi Xa...!</h5>
        </div>
        <img class="pull-right" src="../header-object.png"/>
    </header>
    <nav class="navbar navbar-inverse navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span> Trang chủ</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"> <span class="glyphicon glyphicon-list-alt"></span> Giới thiệu<span
                            class="sr-only">(current)</span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span> Liên hệ</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Góp ý</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Hỏi đáp</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-user"></span>Tài Khoản <span></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/login">Đăng Nhập</a></li>
                            <li><a href="/ForgotPassword">Quên mật khẩu</a></li>
                            <li><a href="/registration">Đăng ký thành viên</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/ChangePassword">Đổi mật khẩu</a></li>
                            <li><a href="/edit">Cập nhật hồ sơ</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="form-inline" id="form-Search">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
                        </form>
                    </li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Tiếng Việt</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        // data-spy="affix" data-offset-top="197"
        <h2 style="color: #f30707">Room-Hot</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../hanoi.png" alt="Los Angeles" style="width:100%;">
                </div>
                <div class="item">
                    <img src="../hoian.png" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="../booking.jpg" alt="New york" style="width:100%;">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="row">
        <aside class="col-sm-2">
            <div>
                Quang Cao -
            </div>
        </aside>
        <article class="col-sm-8">
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Hotel-1
                        </h4>
                    </div>
                    <div class="panel-body">
                        <img src="../1.jpg" height="228" width="292"/></div>
                    <div class="panel-footer">
                        <p style="color: #f60707">Đánh Giá :</p>
                        <div class="progress" style="width: 100%">
                            <div class="progress-bar" style="width:88%"></div>
                        </div>
                        <a href="#">Xem chi Tiet</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Hotel-2
                        </h4>
                    </div>
                    <div class="panel-body">
                        <img src="../2.jpg" height="228" width="292"/></div>
                    <div class="panel-footer">
                        <p style="color: #f60707">Đánh Giá :</p>
                        <div class="progress" style="width: 100%">
                            <div class="progress-bar" style="width:88%"></div>
                        </div>
                        <a href="#">Xem chi Tiet</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Hotel-3
                        </h4>
                    </div>
                    <div class="panel-body">
                        <img src="../3.jpg" height="228" width="292"/></div>
                    <div class="panel-footer">
                        <p style="color: #f60707">Đánh Giá :</p>
                        <div class="progress" style="width: 100%">
                            <div class="progress-bar" style="width:88%"></div>
                        </div>
                        <a href="#">Xem chi Tiet</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Hotel-4
                        </h4>
                    </div>
                    <div class="panel-body">
                        <img src="../4.jpg" height="228" width="292"/></div>
                    <div class="panel-footer">
                        <p style="color: #f60707">Đánh Giá :</p>
                        <div class="progress" style="width: 100%">
                            <div class="progress-bar" style="width:88%"></div>
                        </div>
                        <a href="#">Xem chi Tiet</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Hotel-5
                        </h4>
                    </div>
                    <div class="panel-body">
                        <img src="../5.jpg" height="228" width="292"/></div>
                    <div class="panel-footer">
                        <p style="color: #f60707">Đánh Giá :</p>
                        <div class="progress" style="width: 100%">
                            <div class="progress-bar" style="width:88%"></div>
                        </div>
                        <a href="#">Xem chi Tiet</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Hotel-6
                        </h4>
                    </div>
                    <div class="panel-body">
                        <img src="../6.jpg" height="228" width="292"/></div>
                    <div class="panel-footer">
                        <p style="color: #f60707">Đánh Giá :</p>
                        <div class="progress" style="width: 100%">
                            <div class="progress-bar" style="width:88%"></div>
                        </div>
                        <a href="#">Xem chi Tiet</a>
                    </div>
                </div>
            </div>
        </article>

        <aside class="col-sm-2">
            <div class="poly-cart">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="col-sm-5" src="../shoppingcart.gif"/>
                        <ul class="col-sm-7">
                            <li>100 items</li>
                            <li>$56.8</li>
                            <li><a href="#">Xem giỏ hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <strong>Chủng Loại</strong>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">Double Room</a>
                    <a href="#" class="list-group-item">Single Room</a>
                    <a href="#" class="list-group-item">Family's Room</a>
                    <a href="#" class="list-group-item">Vip Room</a>
                    <a href="#" class="list-group-item">Normal Room</a>
                    <a href="#" class="list-group-item">Especially</a>
                </div>
            </div>
        </aside>
    </div>
    <!--    <footer class="panel panel-default">-->
    <!--        <div class="panel-heading text-center">-->
    <!--            <p>CodeGym &copy; 2017</p>-->
    <!--        </div>-->
    <!--    </footer>-->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>We inspire and reach millions of travelers<br/> across 90 local websites</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>(12) 345 67890</li>
                                <li>info.colorlib@gmail.com</li>
                                <li>856 Cordia Extension Apt. 356, Lake, United State</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Get the latest updates and offers.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Environmental Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                    aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>